<% unless @urls.empty? %>
    //alert(<%=@urls.first.long_url%>);
    //console.log("Yoo");

    //#$("#comments").append("<%#=raw escape_javascript(render(@comments)) %>");
    //$('#urls_table tr:last').after('<tr><td>Testing this thing again.com</td><td>it really works</td></tr>');
    //$("#article h2").text($(".comment").length + " comments");
    //alert("test");
<% end %>
